.textField {
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    border: none;
    outline: none;

}

.footerMain .btn:hover {
    background: aquamarine;
    color: #333;
}

.menu:hover {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}